!!! XML
!!!
%html
  %head
    %title Result
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
    %link{:rel => :stylesheet, :href => "http://floating-fog-3562.heroku.com/fontin_sans.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/bootstrap/css/bootstrap.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "./style.css", :type => "text/css"}
  
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand
            op.ENcode browser
          .nav-collapse
            %ul.nav
              %li
                %a{:href => "/"} Home
              %li
                %a{:href => "http://wiki.lifesciencedb.jp/mw/index.php/BH12.12/op.ENcode" } BH12.12
              %li
                %a{:href => "https://github.com/inutano/opencode/" } GitHub
              %li
                %a{:href => "https://github.com/inutano/opencode/wiki" } Wiki

    %header
      %h2 Result
      %hr
    
    %section
      %h4 query
      %p= "genes: " + @genes + ", assays: " + @assays + ", cell type " + @cell_type
    
    %section{ :class => "table_section" }
      - @result.each do |row|
        %hr
        %h3= row.gene_name
        %p= row.gene_id
        %p
          - base_url = "http://genome.ucsc.edu/cgi-bin/hgTracks?clade=mammal&org=Human&db=hg19&position="
          %a{ :href => "#{base_url}#{row.gene_name}" } View in UCSC Genome Browser
        
        %table{ :class => "table table-hover" }
          %tr{ :class => "info" }
            - base_g86 = "http://localhost:60151/load?file=http://g86.dbcls.jp/~iNut/dono/"
            %th category
            %th
              %a{ :href => "#{base_g86}gm12878.bed&locus=#{gene_name}&genome=hg19" } 
                GM12878
            %th
              %a{ :href => "#{base_g86}h1hesc.bed&locus=#{gene_name}&genome=hg19" }
                H1-hESC
            %th
              %a{ :href => "#{base_g86}k562.bed&locus=#{gene_name}&genome=hg19" }
                K562
          %tr
            %td TSS1500
            %td= row.c1_tss1500
            %td= row.c2_tss1500
            %td= row.c3_tss1500
          %tr
            %td TSS200
            %td= row.c1_tss200
            %td= row.c2_tss200
            %td= row.c3_tss200
          %tr
            %td Gene Body
            %td= row.c1_gb
            %td= row.c2_gb
            %td= row.c3_gb

    %footer
      op.ENCODE 2012
